.header {
  &__top {
    background-color: $color-black;
    display: flex;

    height: 3.5rem;

    a {
      color: $color-white;
      @include font($dxpr, 1.3rem, $color-white);

      &:hover {
        color: $color-primary;
        text-decoration: none;
      }

      &:last-child {
        @include font($gtr, 1.3rem, $color-white);
        &:hover {
          color: $color-primary;
          text-decoration: none;
        }
      }
    }
  }

  &__bottom {
    position: relative;
    height: calc(100vh - 3.5rem);
  }

  .insideHeader {
    height: calc(80vh - 3.5rem);
  }

  &__homeSlider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 3.5rem);
    // overflow: hidden;
  }

  &__inside {
    position: absolute;
    top: 0;
    z-index: 1;
  }
}
.headerNav {
  transition: all 0.5s ease;
}

.headerFix {
  position: fixed;
  top: 0;
  width: 100% !important;
  display: block;
  background-color: $color-black;
  z-index: 8;
  transition: all 0.5s ease;
  box-shadow: 0 1px 7px rgba($color-black, 0.4);
}
