<header class="header">
  <div class="header__top">
    <div class="container d-flex align-items-center justify-content-between">
      <a href="mailto:">hello@ninto.com.tr</a>
      <a href="#">+90 535 7615517</a>
    </div>
  </div>
  <div class="header__bottom insideHeader">
    <div class="headerNav" id="myHeader">
      <div class="container">
        <nav class="navbar navbar-expand">
          <a class="navbar-brand" href="#">
            <img src="img/logo.png" class="img-fluid" alt="" />
          </a>

          <ul class="navbar-nav ml-auto">
            <li class="nav-item navDropdown">
              <a class="nav-link" href="#">About Us </a>
              <ul class="navDropdown__list">
                <li>
                  <a href="#"> About Us </a>
                </li>
                <li>
                  <a href="#"> Artwork Consultanc </a>
                </li>
                <li>
                  <a href="#"> News </a>
                </li>
                <li>
                  <a href="#"> About Us </a>
                </li>
                <li>
                  <a href="#"> Artwork Consultanc </a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">FFF & Ose Procurement </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Artwork Consultancy</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">News </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="mobile">
      <div class="mainContainer">
        <a href="#" class="navbar-brand">
          <img src="img/logo.png" class="mobile__logo" alt="" />
        </a>

        <a href="#" class="menuBtn">
          <span class="lines"></span>
        </a>
        <nav class="mainMenu">
          <ul class="">
            <li class=" ">
              <a class="mobLink" href="#">FFF & Ose Procurement </a>
            </li>
            <li class="">
              <a class="mobLink" href="#">Artwork Consultancy</a>
            </li>
            <li class="">
              <a class="mobLink" href="#">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="header__inside headerInside">
      <img src="img/teams.jpg" alt="" />
      <div class="headerInside__overlay"></div>
      <div class="headerInside__titleBox">
        <h3>Devoted Profesionals</h3>
        <h1>OUR TEAM</h1>
      </div>
    </div>
  </div>
</header>
